

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

.borders {
  border-width: 0px; 
}

.size {
  margin-bottom: 0px;
}

.blue {
  background: linear-gradient(to bottom, #BB377D 0%, #ffffff 100%);  width: 100%;
}

html, 
body {
    height: 100%;
}

.a {
  height: 50%;
}

.waa {
}

