.container {
    position: relative;
}

.spacer {
    width: 0;
    height: 100%;
    float: left;
    clear: both;
}

.one { 
    background-color: white;
    width: 100%; 
    height: 100%; 
    position: relative; 
    float: left; 
}

.two { 
    background-color: white;

    width: 100%; 
    height: 100%; 
    position: relative; 
    float: left; 
}

.three { 
    background-color: white;

    width: 100%; 
    height: 100%; 
    position: relative; 
    float: left; 
}

.four { 
    width: 100%; 
    height: 100%; 
    position: relative; 
    float: left; 
}

.latched { 
    position: fixed; 
    top: 0; 
    width: auto; 
}

.fullwidth {
    width: 100%;
}

.top {
    margin-top: 50px;
}

.center {
    text-align: center;
}

.button {
    border-style: solid;
    border-width: 2px;
}

.size {
    margin-bottom: 0px;
}